:root {
  --maincolor: Blue;
  --secondcolor: Black;
  --font: Arial;
  --selectcolor: #00007c;
}

.line {
  height: 0px;
  width: 1475px;
  border: 3px solid var(--maincolor);
  background-color: var(--maincolor);
}
body {
  font-family: var(--font);
  color: var(--maincolor);
  background-color: var(--secondcolor);
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
tr, td {
  border: 3px solid var(--maincolor);
}
.swapcolors {
  color: var(--secondcolor);
  background-color: var(--maincolor);
}
.favicon {
  height: 16px;
  width: 16px;
}
button {
  border: 3px solid var(--maincolor);
  background-color: var(--secondcolor);
  color: var(--maincolor);
  font-family: var(--font);
}
button:hover {
  opacity: 0.6;
}
input {
  border: 3px solid var(--maincolor);
  background-color: var(--secondcolor);
  color: var(--maincolor);
  font-family: var(--font);
}
textarea {
  border: 3px solid var(--maincolor);
  background-color: var(--secondcolor);
  color: var(--maincolor);
  font-family: var(--font);  
}
::-moz-selection{
	background-color: var(--selectcolor);
}
::selection{
	background-color: var(--selectcolor);
}
::-webkit-input-placeholder { 
  color: var(--maincolor);
}
:-moz-placeholder { 
  color: var(--maincolor);
}
::-moz-placeholder { 
  color: var(--maincolor);
}
:-ms-input-placeholder { 
  color: var(--maincolor);
}
::placeholder {
  color: var(--maincolor);  
}
.noresize {
  resize: none;
}
.nodisplay {
  display: none;
}
select {
  color: var(--maincolor);
  background-color: var(--secondcolor);
  padding: 0 10px;
  font-family: var(--font);
  border: 3px solid var(--maincolor);
}
select option {
  color: var(--maincolor);
  background-color: var(--secondcolor);
  padding: 0 10px;
  font-family: var(--font);
}
ul, ol {
  list-style-type: square;
}
blockquote {
  border: 3px solid var(--maincolor);
}
canvas {
  border: 3px solid var(--maincolor);  
}